{% extends 'base.html' %}
{% load i18n sizeformat %}
{% block title %}{% trans "SPICE Management" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("SPICE Management") %}
{% endblock page_header %}

{% block main %}
<div class="quota-dynamic">
  <h3 class="quota-heading">OpenAttestation</h3>
</div>
<table id="endpoints" class="table table-bordered table-striped datatable tablesorter tablesorter-default">
    <thead>
  
      <tr class="table_caption">
        <th class="table_header" colspan="2" data-column="0">
      
      <tr class="tablesorter-headerRow">
        
          <th class="sortable normal_column tablesorter-header" data-column="0" tabindex="0"><div class="tablesorter-header-inner">OpenAttestation Status</div></th>
        
          <th class="sortable normal_column tablesorter-header" data-column="1" tabindex="0"><div class="tablesorter-header-inner">OpenAttestation Endpoint</div></th>
        
      </tr>
      
  
    </thead>
  
    <tbody>
    
      <tr class="" data-display="oa" data-object-id="0" id="endpoints__row__0">
    <td class="sortable normal_column">Enabled</td><td class="sortable normal_column">http://128.237.112.27:8774/v2/ffaf5275506d4721b76be17adcf64f5a</td>
</tr>
    
    </tbody>
  </table> 
  
  <div class="quota-dynamic">
  <h3 class="quota-heading">View Logs</h3>
</div>
<div class="usage_info_wrapper">
  <form action="?" method="get" id="date_form" class="form-horizontal ng-pristine ng-valid">
    <h3>Select a period of time to query logs: </h3>
    <div class="datepicker">
      <span>From: <input data-date-format="yyyy-mm-dd" id="id_start" name="start" type="text" value="2014-06-01"> </span><span>To: <input data-date-format="yyyy-mm-dd" id="id_end" name="end" type="text" value="2014-06-11"> </span>
      <button class="btn btn-primary" type="submit">Submit</button>
      <small>The date should be in YYYY-mm-dd format.</small>
    </div>
  </form>

</div>
<div class="quota-dynamic">
  <h3 class="quota-heading">Change Status</h3>
</div>
	<div>    
    	SPICE Enabled: <input class="table-row-multi-select" name="object_ids" type="checkbox" value="1"><br>
    	Remove all nodes from TCP when going to shutdown: <input class="table-row-multi-select" name="object_ids" type="checkbox" value="1">
    </div>  
{% endblock %}
